In [1]:
x=3
print(x, type(x))

3 <class 'int'>

In [2]:
y = 2.5
print(y, type(y))

2.5 <class 'float'>

In [3]:
z = '4'
print(z, type(z))

4 <class 'str'>

In [27]:
f = True
print(type(f))

<class 'bool'>

In [28]:
a = 10_000_000

In [29]:
a

10000000

In [6]:
.4

0.4

In [7]:
3e8

300000000.0

In [8]:
3E8

300000000.0

In [9]:
3e-3

0.003

In [10]:
print(True > False)
print(True < False)

True
False

In [11]:
1011

1011

In [12]:
print(6 // 3.)

2.0

In [13]:
print(-4 + 4)
print(-4. + 8)

0
4.0

In [14]:
print(9 +1 **2)

10

In [15]:
x=3
x **= -2
x

0.1111111111111111

In [16]:
t, f = True, False
print(t)

True

In [17]:
country = input("Which country do you live in?")
print("I live in {0}".format(country))

Which country do you live in?
I live in

In [18]:
print(""" \
Usage: thingy [OPTIONS]
    -h          Display this usage message
    -H          Hostname to connect to
""")

 Usage: thingy [OPTIONS]
    -h          Display this usage message
    -H          Hostname to connect to

In [19]:
s = "hello"
# Capitalize a string; prints "Hello"
print(s.capitalize())

Hello

In [20]:
money = None
print(money)

None

In [21]:
a = 1
print(type(a))

<class 'int'>

In [22]:
b = str(a)
print(b)
print(type(b))

1
<class 'str'>

In [23]:
def introduction(firstName, lastName="Smith"):
    print("Hello, my name is", firstName, lastName)

In [24]:
introduction("James", "Doe")

Hello, my name is James Doe

In [25]:
introduction("Henry")

Hello, my name is Henry Smith

In [26]:
introduction(firstName="William")

Hello, my name is William Smith

In [30]:
a = 4.9

In [31]:
print(int(a))

4

In [33]:
t,y = 1,1

In [34]:
x

1

In [35]:
y

1

In [36]:
kata1 = 'kata'

In [42]:
kata2 = "\"kata\""

In [43]:
print(kata2)

"kata"

In [46]:
var1 = float(input())

12

In [47]:
print(type(var1))

<class 'float'>

In [48]:
var1

12.0

In [49]:
print(len(kata1))

4

In [54]:
s = "hello"
# Capitalize a string; prints "Hello"
print(s[0])

h

In [55]:
list1 = [1,2,3]
print(type(list1))

<class 'list'>

In [57]:
list1[1]

2

In [58]:
list1.append(4)
list1

[1, 2, 3, 4]

In [59]:
list1.insert(1,5)
list1

[1, 5, 2, 3, 4]

In [60]:
list1.pop()
list1

[1, 5, 2, 3]

In [61]:
dict1 ={}
print(type(dict1))

<class 'dict'>

In [64]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary 
                                     # with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print(d['dog'])

cute
furry

In [5]:
number = int (input ("Enter a number up to which you want to find \ the average"))
i = 0
sum = 0
count = 0
while i < number:
    i = i + 1
    sum = sum + i
    count = count + 1
average = sum/count
print("The average of ",number," natural numbers is ", average)

Enter a number up to which you want to find \ the average4
The average of  4  natural numbers is  2.5